
@{
    ViewBag.Title = "Received Questions";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}

<link rel="stylesheet" href="~/Assets/Agency/Question.css">
<div class="container my-5">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-10 col-xl-8 mx-auto">
                <div class="p-3 bg-dark text-light shadow rounded">
                    <div class="media">
                        <!--<img class="rounded-circle img-thumbnail" src="~/Database/Images/IMG_8051.JPG" alt="" style="width: 75px;height: 75px;">-->
                        <div class="media-body ml-3">
                            <blockquote class="blockquote border-0 p-0">
                                <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-success"></i>@item.question</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" style="width: 100%;" data-toggle="modal" data-target="#AnswerModal@{@item.FAQId}">
                    Answer
                </button>
                <!-- Modal -->
                <div class="modal fade" id="AnswerModal@{@item.FAQId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-white">
                                <h5 class="modal-title">Answer</h5>
                                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form action="@Url.Action("SubmitAnswer", "Agency")" method="post" class="form-horizontal form-group">
                                    <div class="modal-body">
                                        <input name="FAQId" type="hidden" value="@item.FAQId" />
                                    <div class="form-group">
                                        <textarea name="answer" class="form-control" rows="5"></textarea>
                                    </div>
                                    </div>
                                    <div class="modal-footer" style="border: none;">
                                        <button type="submit" class="btn btn-success">Submit Answer</button>
                                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>